@font-face {
    font-family: Gilroy;
    src: url("./Gilroy-Light.ttf") format("truetype"); /* Corrected "ttf" to "truetype" */
    font-style: normal;
    font-weight: 300;
  }
  
  @font-face {
    font-family: Gilroy;
    src: url("./Gilroy-Regular.ttf") format("truetype"); /* Corrected "ttf" to "truetype" */
    font-style: normal;
    font-weight: 400;
  }
  
  @font-face {
    font-family: Gilroy;
    src: url("./Gilroy-Medium.ttf") format("truetype"); /* Corrected "ttf" to "truetype" */
    font-style: normal;
    font-weight: 600;
  }
  
  @font-face {
    font-family: Gilroy;
    src: url("./Gilroy-Bold.ttf") format("truetype"); /* Corrected "ttf" to "truetype" */
    font-style: normal;
    font-weight: 800;
  }
  
  @font-face {
    font-family: Gilroy;
    src: url("./Gilroy-ExtraBold.ttf") format("truetype"); /* Corrected "ttf" to "truetype" */
    font-style: normal;
    font-weight: 900;
  }
  