body{
    
    padding: 0;
    margin: 0%;
    background-color: #0a0e16;
    background-image: url("/public/img/contact-bg.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;

    scroll-behavior: smooth;
}



.vl {
    border-left: 6px solid DC1B1B;
    height: 500px;
  }