#about {
  background: #0a0e16;
}

.mybox {
  background-color: #141b2d;
  max-width: 285px;
  min-width: 260px;
  min-height: 345px;
  max-height: 350px;
  aspect-ratio: 4/5;
  flex-shrink: 0;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 20px 20px 50px 5px black;
  /* max-height: ; */
  /* background-color: #141B2D; */
}
.card-wrapper {
  max-width: 285px;
  min-width: 260px;
  min-height: 345px;
  max-height: 350px;
  border-radius: 7px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mybox,
  .card-wrapper {
    max-width: 220px;
    min-width: 220px;
    min-height: 300px;
    max-height: 400px;
  }
  #intro-box-con {
    gap: 30px !important;
  }
}
#about-title {
  background: linear-gradient(
    227.38deg,
    #e71d36,
    #f46036,
    #e71d36,
    #e71d36,
    #f46036
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 40px;
  line-height: 49px;
}

.about-num-det {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  text-align: center;
}

.leading-relaxed {
  font-weight: 300;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
}

.about-title-dit {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
}

.title-about-num {
  background: linear-gradient(
    227.38deg,
    #e71d36,
    #f46036,
    #e71d36,
    #e71d36,
    #f46036
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
}
#intro-box-con {
  padding: 30px;
  padding-bottom: 70px;
  display: flex;
  gap: 90px;
  justify-content: center;
}

#intro-box-1 {
  background-image: url("/public/img/tab1.svg");
  transition: 0.3s;
}

#intro-box-1 h1 {
  position: relative;
  left: 5px;
  top: 5px;
}
#intro-box-1 p {
  position: relative;
  top: 18px;
}
#intro-box-2 {
  background-image: url("/public/img/tab2.svg");

  transition: 0.3s;
}
#intro-box-2 h1 {
  position: relative;
}
#intro-box-3 {
  background-image: url("/public/img/tab3.svg");

  transition: 0.3s;
}
#intro-box-3 h1 {
  position: relative;
}
#intro-box-3 p {
  word-break: break-word;
  height: 1rem;
}
