
#intro{
    margin-top: 25vh;
}

#intro h1 {
    font-size: 50px;
}

#intro #disc{
    color: #c0c3c5;
    word-spacing: 4px;
    font-size: 18px;
}

.tt{
    margin: 10px;
    
}

.tt img{
    width: 130px;
}

#scrl-intro{
    margin-top: 80px;
    font-size: 10px;
    
}
#scrl-intro a{
    animation: flicker 1.5s infinite;
}
#scrl-intro img{
    width: 15px;
    margin-left: 17px;
    
}





@keyframes flicker {
    0% {margin-top: 0px; margin-bottom: 5px;}
    50% {margin-top: 5px;margin-bottom: 0px;}
    100% {margin-top: 0px;margin-bottom: 5px;}
}



#about{
    background: #0a0e16 ;
}

@media only screen and (max-width: 768px){
    #intro{
        font-family: Arial, Helvetica, sans-serif;
    }
    #intro-box-con{
        display: grid;
    }
    
    #nav{
        justify-content: center;
    }
    #intro h1 {
        font-size: 40px;
    }
    .tt{
        
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    #intro{
        margin-top: 10vh;
    }
    #scrl-intro{
        margin-top: 30px;
    }
    

}
