#foot-1 {
  padding: 20px;

  background-color: #0a0e16;
  background-image: url("https://thealphaones.pythonanywhere.com/api/image/bg.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  /* background-position: center; */
  /* background-size: contain; */
}
.icon-effect:hover {
  filter: grayscale(50%);
}
