@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body{
    
    padding: 0;
    margin: 0%;
    background-color: #0a0e16;
    background-image: url("/public/img/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;

    scroll-behavior: smooth;
}

html{
    scroll-behavior: smooth;
}

#home{
    height: 100vh;
}




/* respomsive */
@media only screen and (max-width: 768px){
    
}
    
/*  THIS THE SCROLL-BARR */
/* width */
::-webkit-scrollbar {
    width: 7px;

    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    
    border-radius: 15px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #ff5555a6; 
    border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #50fa7b; 
    }

/* END OF SCHROLL BAR */